h1{
    text-align: center;
}

.communication{
    margin: 0 auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.powered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.paragraph{
    text-align: center;
}